<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label style="color: #fff;">Filas por página
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="firstName">Nombres</th>
      <th st-sort="lastName">Apellidos</th>
	  <th st-sort="age">Age</th>
      <th st-sort="username">Anotaciones</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="firstName" placeholder="Buscar por Nombre" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="lastName" placeholder="Buscar por Apellido" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="age" placeholder="Buscar por edad" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="email" placeholder="Buscar por anotaciones" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.age}}</td>
      <td>{{item.email}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>